@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact Us";
}

<div class="container">
    <br/>
    <br/>

    <div class="container" style="border:dashed">
        <div class="row">
            <div class="col-md-12 col-sm-12 display-6">
                <i class="bi bi-person-lines-fill"></i> Contact Info.
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-3 col-sm-4 ">
                <i class="bi bi-pencil"></i> Name : Krupal Dobariya
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 ">
                <i class="bi bi-telephone"></i> Mobile : 9979064505
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 ">
                <i class="bi bi-envelope"></i> Email : bileshwaroilmill@gmail.com
            </div>
        </div>
    </div>
    
    <br/>
    <br/>
    <br/>
    @* <footer class="footer">
        @Html.Partial("_Footer")
    </footer> *@
</div>
