@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <img src="./Images/Designer.png" class="" height="340px" alt="Bileshwar Oil Mil">
    </div>

    <br />
    <hr />

    <div class="row">
        <div class="col-md-3 col-sm-6">
            <h1 class="display-6">Our Products</h1>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-3 col-sm-6">
            <a href="Home/Details?productId=1" style="text-decoration:none;color:black;">
            <div class="card" style="">
                <img src="./Images/OilCan.jpg" width="250px" height="280px" class="card-img-top" alt="Oil Can">
                <div class="card-body">
                    <h5 class="card-title">15 KG Peanut Oil Can</h5>
                    <p class="card-text">Pure peanut oil, 15KG Can. Available at best possible price.</p>
                </div>
            </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="Home/Details?productId=2" style="text-decoration:none;color:black;">
            <div class="card" style="">
                <img src="./Images/OilBox1.jpg" width="250px" height="280px" class="card-img-top" alt="Oil Can">
                <div class="card-body">
                    <h5 class="card-title">30 KG Peanut Oil Can</h5>
                    <p class="card-text">Large oil can of 30 KG pure peanut edible oil available at the best price in the market.</p>
                </div>
            </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="Home/Details?productId=3" style="text-decoration:none;color:black;">
            <div class="card" style="">
                <img src="./Images/OilCan.jpg" width="250px" height="280px" class="card-img-top" alt="Oil Can">
                <div class="card-body">
                    <h5 class="card-title">10 KG Mix Oil Can</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="Home/Details?productId=4" style="text-decoration:none;color:black;">
            <div class="card" style="">
                <img src="./Images/Banner2.png" width="250px" height="280px" class="card-img-top" alt="Oil Can">
                <div class="card-body">
                    <h5 class="card-title">5 KG Peanut Oil Can</h5>
                    <p class="card-text">Here the new generated text content to be added.</p>
                </div>
            </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="Home/Details?productId=5" style="text-decoration:none;color:black;">
                <div class="card" style="">
                    <img src="./Images/PeanutOilImg2.png" width="250px" height="280px" class="card-img-top" alt="Oil Can">
                    <div class="card-body">
                        <h5 class="card-title">Pure Peanut oil</h5>
                        <p class="card-text">Here the new generated text content to be added.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="Home/Details?productId=6" style="text-decoration:none;color:black;">
                <div class="card" style="">
                    <img src="./Images/PeanutOilImg3.png" width="250px" height="280px" class="card-img-top" alt="Oil Can">
                    <div class="card-body">
                        <h5 class="card-title">Delicious peanut oil</h5>
                        <p class="card-text">This versatile oil is commonly used in various cuisines for cooking and frying due to its high smoke point. It’s a healthy choice for your culinary needs</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <br />
    <hr />

    <footer class="footer">
        @Html.Partial("_Footer")
    </footer>

    @* <footer class="footer" style="">
    <hr/>
    <div class="container">

    <div class="row">
    <div class="col-md-3 col-sm-3">
    <a href="#" class="logo">
    <img src="././Images/OilCan.jpg" width="150px;" height="150px;" alt="Your website logo">
    </a>
    </div>
    <div class="col-md-3 col-sm-3">
    <ul class="links">
    <li><a href="#">Support</a>
    <ul class="sublinks">
    <li><a asp-area="" asp-controller="Home" asp-action="ContactInfo">Contact Us</a></li>
    <li><a href="#">FAQs</a></li>
    </ul>
    </li>
    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
    </ul>
    </div>
    <div class="col-md-6 col-sm-4">
    <form>
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <button type="submit" class="btn btn-primary">Contact Me</button>
    </form>
    </div>
    </div>
    </div>

    </footer> *@
</div>
